<style>
.icon-choose-image {
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
}
</style>

<div id="cardtemplate" class="w3-card-4 w3-third w3-padding">
    <input type="hidden" id="_id"/>
    <img id="image" src="../images/noimage.png" alt="image" width="100%">
    <div class="w3-container w3-center"><p><span id="text" contenteditable="true">Text</span></p></div>
    <img src="./components/photo.png"  class="icon-choose-image" />
	<div class="icon-choose-image" >
	    <input name="userImage" id="userImage" type="file" class="inputFile" onChange="readURL(this, $(this).parent().parent().find('#image'))" />
	</div>       
    <div>        
        <button class="w3-btn" onclick="btnSave($(this));">Save<i class="w3-margin-left fa fa-pencil"></i></button>
        <button class="w3-btn" onclick="btnDelete($(this));">Delete<i class="w3-margin-left fa fa-trash"></i></button>
    </div>
</div>
