<div class="w3-card-4 w3-third w3-padding">
    <input type="hidden" id="_id"/>
    <a id="link" href="#">
        <img id="image" src="../images/noimage.png" alt="" >
        <div class="w3-container w3-center"><p><span id="text">Text</span></p></div>
    </a>
    <div>
        <input type="file" id="newimage"/>
        <p><button class="w3-btn">Save<i class="w3-margin-left fa fa-pencil"></i></button>
        <p><button class="w3-btn">Delete<i class="w3-margin-left fa fa-trash"></i></button>
    </div>
</div>
