<br><br><br>
<div class="w3-container w3-content w3-center w3-padding-64 w3-text-white" style="background-image: url('images/stage2.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
    <h1 class="w3-wide">WHO WE ARE</h1>
    <h2 class="w3-wide">ABOUT US</h2>
    <p>
      A JAM PRODUCTION, Inc is an artist development and product/service company celebrating 45 years
      in the music, film, video and TV production industry.
    </p>
    <p>
      Beginning in 1971, from a small office located just south of Atlanta, Georgia, JAM began booking
      and managing musical groups throughout the southeast.  As the agency grew, JAM booked not only 
      local but national and international artists throughout the entire world.
    </p>
    <p>
      As JAM's artist roster grew so did its need to outfit equipment for its artists, so JAM Music was founded.
    </p>
    <p>
      Since that time, JAM Music has grown its service offereing in many areas including sound and music 
      equipment rentals, production and lighting rentals, staging and trussing rentals, as well as video
      wall rentals.  At JAM, we pride ourselves on the consistency of our value and the authenticity 
      of our service.
    </p>
    <p>
      Since relocating our offices to the greater Nashville area, we have spent the last 5 years
      establishing ourselves as an industry leader for both music entertainment/production rentals and sales
      alike.  Our product and service offering includes consultation and fulfillment for all touring, 
      festival, wedding, corporate and individual productions.  At JAM, we believe the success of our
      company begins with the intergity of our promis and the consistency of our service.
    </p>
    <h2 class="w3-wide">CORE VALUES</h2>
    <div class="w3-row">
        <div style="min-width:300px" class="w3-third w3-container w3-padding">
            <svg height="300">
                <ellipse ry="136.5" rx="145" id="svg_1" cy="137.45001" cx="146.5" stroke-width="1.5" stroke="#000" fill="#fff"/>
                <text font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_2" y="63.95001" x="71.16667" stroke-width="0" stroke="#000" fill="#000000">FAIR PRICED</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_5" y="93.45" x="53"  stroke-width="0" stroke="#000" fill="#000000">At JAM we understand the barriers</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_6" y="111.45" x="65.5"  stroke-width="0" stroke="#000" fill="#000000">to being a working muscisian</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_9" y="132.45" x="55.5"  stroke-width="0" stroke="#000" fill="#000000">a hobbyist or just someone trying</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_10" y="149.45" x="68.5"  stroke-width="0" stroke="#000" fill="#000000">to plan an event.  We want to</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_11" y="166.45" x="58.5"  stroke-width="0" stroke="#000" fill="#000000">partner withyou by giving you the</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_12" y="186.45" x="53"  stroke-width="0" stroke="#000" fill="#000000">tools and equipment necessary at</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_13" y="206.45" x="57.5"  stroke-width="0" stroke="#000" fill="#000000">the best price possible to realize</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_14" y="226.45" x="72.5"  stroke-width="0" stroke="#000" fill="#000000">your next event and make it</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_15" y="242.45" x="114.5"  stroke-width="0" stroke="#000" fill="#000000">successfull</text>
            </svg>
        </div>
        <div style="min-width:300px" class="w3-third w3-container w3-padding">
            <svg height="300">
                <ellipse ry="136.5" rx="145" id="svg_1" cy="137.45001" cx="146.5" stroke-width="1.5" stroke="#000" fill="#fff"></ellipse>
                <text fill="#000000" stroke="#000" stroke-width="0" id="svg_17" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="55" x="52">INTENTIONALLY</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="80.08334" id="svg_4" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="77.45001">PERSONAL</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="70" id="svg_18" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="100">Family owned, we know the</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="51" id="svg_19" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="114">meaning of strength and simplicity</text>
                <text fill="#000000" stroke="#000" stroke-width="0" id="svg_20" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" x="47" y="128">in relationsihps.  We want to ensure</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="58.5" id="svg_21" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="143">to you first and foremost that we</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="53" id="svg_22" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="158">always have your best interests at</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="80" id="svg_23" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="173">heart, that we listen and</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="63" id="svg_24" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="186">understand to determine what</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="48" id="svg_25" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="198">those specific needs are.  We know</text>
                <text fill="#000000" stroke="#000" stroke-width="0" x="57.5" id="svg_26" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" y="211">every client is different and every</text><text data-cloud9-id="788" fill="#000000" stroke="#000" stroke-width="0" id="svg_26" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" x="100" y="223">event is special.</text>        
            </svg>
        </div>
        <div style="min-width:300px" class="w3-third w3-container w3-padding">
            <svg height="300">
                <ellipse ry="136.5" rx="145" id="svg_47" cy="137.45001" cx="145.5" stroke-width="1.5" stroke="#000" fill="#fff"/>
                <text font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_48" y="39.95001" x="98.2333" stroke-width="0" stroke="#000" fill="#000000">ALWAYS</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_29" y="70" x="52.08334"  stroke-width="0" stroke="#000" fill="#000000">PROFESSIONAL</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_49" y="95.45" x="53.5"  stroke-width="0" stroke="#000" fill="#000000">At JAM, we work with clients on all</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_50" y="112.45" x="60"  stroke-width="0" stroke="#000" fill="#000000">levels.  Quality of service is very</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_51" y="133.45" x="70"  stroke-width="0" stroke="#000" fill="#000000">important to us.  It is for that</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_52" y="150.45" x="72"  stroke-width="0" stroke="#000" fill="#000000">reason, we always retain a</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_53" y="167.45" x="67"  stroke-width="0" stroke="#000" fill="#000000">knowledgeable staff, a clean</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_54" y="187.45" x="66"  stroke-width="0" stroke="#000" fill="#000000">working environment, and an</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_55" y="207.45" x="51"  stroke-width="0" stroke="#000" fill="#000000">available inventory of equipment to</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_56" y="227.45" x="95"  stroke-width="0" stroke="#000" fill="#000000">fit your every need.</text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_27" y="259.45001" x="101"  stroke-width="0" stroke="#000" fill="#000000">event is special.</text>        
            </svg>
        </div>
    </div>

</div>