<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <br><br><br><br><br><br>
    <div class="w3-container" style="margin-left:auto; margin-right:auto; max-width: 1000px">
      <h1>Setup and Delivery</h1>
      <p>At A Jam Music Center we are dedicated to providing you with everything you need for your event to be perfect.  To ensure that, we have assembled a professional setup and delivery team
      to ensure that you not only have the right equipment, but that it is also installed and calibrated correctly.</p>
      <p>Let our experts will take the hassle and stress out of making sure your sound, lighting and staging is perfect.  We believe in being timely in everything we do, so let us know in the
      form below the time, location and equipment needed for your event.</p>
    </div>

    <hr>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
