<!-- Navbar -->
<div class="w3-top">
  <div class="w3-row w3-black">
    <div class="w3-col m4 l4">
      <a href="index.html">
        <img src="../images/JAMLogoSloganColor.png" alt="JAM Logo" height="150px"/>
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      </a>
    </div>
    <div class="w3-col m6 l6">
      <div class="w3-row"> 
        <input placeholder="Search..." size="40">
        <a href="javascript:void(0)" class="w3-padding-large w3-hover-grey w3-green w3-hide-small"><i class="fa fa-search"></i></a>
        <span class="w3-xlarge">&nbsp;&nbsp;&nbsp;&nbsp;888.605.2330&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="javascript:void(0)" class="w3-bar-item "><i class="fa fa-facebook-official w3-hover-text-indigo" style="font-size:36px"></i></a>
        <a href="javascript:void(0)" class="w3-bar-item "><i class="fa fa-twitter w3-hover-text-light-blue" style="font-size:36px"></i></a>
        <a href="javascript:void(0)" class="w3-bar-item "><i class="fa fa-instagram w3-hover-text-light-blue" style="font-size:36px"></i></a>
      </div>
      <div class="w3-row w3-black w3-bar">
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button w3-black" title="More">Rental Gear & Pricing <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <div class="w3-row" style="width: 1024px">
              <div class="w3-quarter" id="menucolum1">
                <a href="#" class="w3-bar-item w3-button">Amps & Effects</a>
              </div>
              <div class="w3-quarter" id="menucolum2">
                <a href="#" class="w3-bar-item w3-button">DJ Gear</a>
              </div>
              <div class="w3-quarter" id="menucolum3">
                <a href="#" class="w3-bar-item w3-button">Drums and Precussion</a>
              </div>
              <div class="w3-quarter" id="menucolum4">
                <a href="#" class="w3-bar-item w3-button">Guitars</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">Event Packages <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="pacorporate.html" class="w3-bar-item w3-button">Corporate</a>
            <a href="padj.html" class="w3-bar-item w3-button">DJ</a>
            <a href="pabands.html" class="w3-bar-item w3-button">Live Bands</a>
            <a href="pawedding.html" class="w3-bar-item w3-button">Weddings</a>
          </div>
        </div>    
        <a href="delivery.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Delivery & Setup</a>
        <a href="wedding.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Wedding Services</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Special Offers</a>
        <!--
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">Special Programs <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Rent to Own</a>
            <a href="#" class="w3-bar-item w3-button">Monthly Specials</a>
            <a href="#" class="w3-bar-item w3-button">Pedal of the Month</a>
          </div>
        </div>  
        -->
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">Contact <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="contactus.html" class="w3-bar-item w3-button">Contact Us</a>
            <a href="aboutus.html" class="w3-bar-item w3-button">About Us</a>
            <a href="#" class="w3-bar-item w3-button">Virtual Tour</a>
          </div>
        </div>      
      </div>
    </div>
    <div class="w3-col m2 l2">
      <br><br><br><br>
      <span id="fullname" class="w3-hide"></span>
      <span class="w3-dropdown-hover">
        <a href="#"><i class="fa fa-user"></i> Account</a>
        <span id="usermenu" class="w3-dropdown-content w3-card-4">
            <a href="./login.html">Login</a>
            <a href="./register.html">Register</a>
        </span>
      </span>    
    </div>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-half w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-right" style="margin-top:140px">
  <div class="w3-dropdown-hover">
    <button class="w3-padding-large w3-button" title="More">Rental Gear & Pricing <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button">Amps & Effects</a>
      <a href="#" class="w3-bar-item w3-button">DJ Gear</a>
      <a href="#" class="w3-bar-item w3-button">Drums and Precussion</a>
    </div>
  </div>  
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">MERCH</a>
</div>
<style>
  .maincategory {
    font-weight: bold;
  }
</style>