<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
    <script src="packages.js"></script>
    <style>
      .leftbutton {
        width: 140px; position : relative; right:16px
      }
      .rightbutton {
        width: 140px; position : relative; left: 78px
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <br><br><br><br><br><br>
    <div class="w3-center"><h1>Bands</h1></div>
    <div class="w3-content">
      <div class="w3-row">               
        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Band Small Event</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_3.png" width="75%"/>          
            <h3>$84/month $42/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(2) Yorkville NX55P-2 12” 1000W Powered Speaker</li>
              <li>(2) Speaker Stands</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>Perfect for acoustic and solo acts</li>
              <li>Ideal for backyard parties, tailgating, and small venues</li>
              <li>Up to 150 people</li>
              <li>Delivery and setup available for additional fees/li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">             
              <li>Add a Powered Subwoofer to this package</li>
              <li>Passive Mixers as low as $5/week</li>
              <li>Wired Microphones as low as $2.50/week</li>
            </ul>
          </div>
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>        
        
        <div class="w3-col m2 l2 w3-small-hide w3-medium-hide">&nbsp;</div>

        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Band Large Venue</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_4.png" width="75%"/>
            <h3>$234/month $117/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(2) Yorkville PS12p 12” 1200W Powered Speaker</li>
              <li>(2) Yorkville PS15s 15” 1000W Powered Subwoofer</li>
              <li>(2) Subwoofer Speaker Poles</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>Ideal for events at larger venues</li>
              <li>Up to 250 people</li>
              <li>Delivery and setup available for additional fees</li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">
              <li>Passive Mixers as low as $5/week</li>
              <li>Digital Consoles as low as $27.50/week</li>
              <li>Add some Powered Monitors to this package</li>
              <li>Microphones as low as $2.50/week</li>              
            </ul>
          </div>                       
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>
      </div>
     
      <div class="w3-row">
        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Large Band with Monitor</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_1.jpg" width="75%"/>          
            <h3>$388/month $169/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(2) Yorkville PS12p 12” 1200W Powered Speaker</li>
              <li>(2) Yorkville PS18s 18” 1200W Powered Subwoofer</li>
              <li>(2) Yorkville NX55P-2 12” 1000W Powered Monitor</li>
              <li>(2) Subwoofer Speaker Poles</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>Ideal for large events where your band needs some extra low end</li>
              <li>Wheels on the subwoofers make for easy transportation</li>
              <li>Up to 350 people</li>
              <li>Delivery and setup available for additional fees/li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">             
              <li>Passive Mixers as low as $5/week</li>
              <li>Digital Consoles as low as $27.50/week</li>
              <li>Microphones as low as $2.50/week</li>
              <li>Check out our sister company, JAM Transportation, for deals on trailers and vans!</li>  
              <li>Ask us about having a technician run your event!</li>
            </ul>
          </div>
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>
        <div class="w3-col m2 l2 w3-hide-small w3-hide-medium">&nbsp;</div>       
       
        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Band Outdoor Large Event</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_2.jpg" width="75%"/>
            <h3>$744/month $372/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(4) Yorkville PSA1 700W Powered Line Array Speaker</li>
              <li>(4) Yorkville PSA2s Dual 15” 2400W Powered Subwoofer</li>
              <li>(2) Subwoofer Speaker Poles</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>Ideal for large events outdoor or in a large venue like concerts, festivals, etc.</li>
              <li>Up to 500 people</li>
              <li>Delivery and setup available for additional fees</li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">
              <li>Digital Consoles as low as $27.50/week</li>
              <li>Microphones as low as $2.50/week</li>
              <li>Powered Monitors as low as $21/week</li>
              <li>Check out our sister company, JAM Transportation, for deals on trailers and vans!</li>
              <li>Ask us about having a technician run your event!</li>
            </ul>
          </div>                       
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
