<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <br><br><br><br>
    <div class="w3-center">
      <h1>PA Package 3 – Outdoor/Large Event</h1>
      <div><img src="../images/PA_PKG_3.jpg" width="30%"/></div>
      <ul>
        <li>$744/month $372/week</li>
        <li>(Console NOT Included)</li>
        <li>(4) Yorkville PSA1 Powered Line Array Speaker</li>
        <li>(4) Yorkville PSA2s Powered Dual 15” Subwoofer</li>
        <li>(8) XLR Cable</li>
      </ul>
    </div>
    <hr>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
