<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <br><br><br><br>
    <div class="w3-center"><h1>Corporate</h1></div>
    <div class="w3-center">
      <div class="w3-row">
        <div class="w3-half">
          <h2>Public Address System 1</h2>
          <h3>$57/month $28.50/week</h3>
          <p>Package includes:</p>
          <ul>
            <li>(1) Yorkville EXM400 Compact Portable PA System including:</li>
            <ul>
              <li>10” Subwoofer</li>
              <li>(2) Satellite speakers</li>
              <li>(2) Extension poles to allow for different setups</li>
            </ul>
            <li>(1) Shure SM58 wired handheld microphone with stand</li>
            <li>All necessary cables</li>
          </ul>
          <p>Package Details:</p>
          <ul>
            <li>Up to 150 people</li>
            <li>Easy setup, no sound experience required</li>
            <li>Internal mixer located on back of subwoofer allows for 2 microphone/instrument inputs and</li>
            <li>stereo line input</li>
            <li>Bluetooth enabled to wirelessly connect your laptop or phone to play music</li>
            <li>PA system packs down to just the subwoofer and a carrying case for the poles and speakers</li>
          </ul>
          <p>Popular Additions to the PA:</p>
          <ul>
            <li>Additional wired microphones as low as $2.50/week</li>
            <li>Add 2 more Satellite Speakers to get more coverage for only $7/week</li>
            <li>Check out our Wireless Microphones          </li>
          </ul>
        </div>
        <div class="w3-half"></div>
      </div>
      <div class="w3-row">
        <div class="w3-half"></div>
        <div class="w3-half"></div>
      </div>      
      <h1>PA Package 1 – Small Event with minimal music</h1>
      <div><img src="../images/PA_PKG_1.jpg" width="30%"/></div>
      <ul>
        <li>$84/month $42/week</li>
        <li>(Console NOT Included)</li>
        <li>(2) Yorkville NX55p-2 Powered 12” Speaker</li>
        <li>(2) XLR Cable</li>
      </ul>
      <hr>
    </div>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
