<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
    <script src="packages.js"></script>
    <style>
      .leftbutton {
        width: 140px; position : relative; right:16px
      }
      .rightbutton {
        width: 140px; position : relative; left: 78px
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <div id="navbar"></div>
    
    <!-- Page content -->
    <br><br><br><br><br><br>
    <div class="w3-center"><h1>Wedding</h1></div>
    <div class="w3-content">
      <div class="w3-row">
        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Basic Wedding PA</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_5.jpg" width="75%"/>          
            <h3>$57/month $28.50/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(1) Yorkville EXM400 Compact Portable PA System including:</li>
              <ul class="w3-ul">
                <li>10” Subwoofer</li>
                <li>(2) Satellite speakers</li>
                <li>(2) Extension poles to allow for different setups</li>
              </ul>
              <li>(1) Shure SM58 wired handheld microphone with stand</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>This package is perfect for the ceremony AND the reception</li>
              <li>Easy and fast setup, no sound experience required</li>
              <li>Internal mixer located on back of subwoofer allows for 2 microphone/instrument inputs and 1 stereo line input</li>
              <li>Bluetooth enabled to wirelessly connect your laptop or phone to play music</li>
              <li>No extra wires needed to connect the speakers! All connections are made through the extension poles!</li>
              <li>PA system packs down to just the subwoofer and a carrying case for the poles and speakers Popular Additions to the PA:</li>
              <li>Additional microphones as low as $2.50/week</li>
              <li>Add 2 more Satellite Speakers to get more coverage for only $7/week</li>
              <li>Check out our Wireless Microphones</li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">
              <li>Additional wired microphones as low as $2.50/week</li>
              <li>Add 2 more Satellite Speakers to get more coverage for only $7/week</li>
              <li>Check out our Wireless Microphones</li>
            </ul>            
          </div>
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>
        <div class="w3-col m2 l2">&nbsp;</div>
        <div class="w3-col m5 l5 w3-panel w3-black">
          <h2>Public Address System 2</h2>
          <div class="w3-panel w3-white" style="height: 500px; overflow: hidden">
            <img src="../images/PA_PKG_2.jpg" width="75%"/>
            <h3>$46/month $23/week</h3>
            <p>Package includes:</p>
            <ul class="w3-ul">
              <li>(1) Yorkville NX55P-2 12” 1000W Powered Speaker</li>
              <li>(1) Speaker Stands</li>
              <li>(1) Shure SM58 wired handheld microphone with stand</li>
              <li>All necessary cables</li>
            </ul>
            <p>Package Details:</p>
            <ul class="w3-ul">
              <li>Up to 75 people</li>
              <li>Easy and fast setup</li>
              <li>Single microphone can plug straight into speaker, no mixer required</li>
              <li>Delivery and setup available for additional fees</li>
            </ul>
            <p>Popular Additions to the PA:</p>
            <ul class="w3-ul">
              <li>Passive Mixers as low as $5/week</li>
              <li>Microphones as low as $2.50/week</li>
            </ul>
          </div>         
          <div class="w3-panel">
          	<button class="w3-button w3-rounder w3-green leftbutton">More Details</button>
            <button class="w3-button w3-rounder w3-yellow rightbutton">Reserve</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
