  <h2 class="w3-wide">HOW CAN WE HELP?</h2>
  <div class="w3-row">
    <div class="w3-third">
      <div class="w3-display-container" id="kidprofile">
        <img src="../images/kidstock.jpg" width="100%">
        <div class="w3-container w3-text-black" id="kidtext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>Kids</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">Get your young musician started off with quality affordable yet equipment.</div>
          <div class="w3-padding w3-display-bottommiddle"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-display-container" id="djprofile">
        <img src="../images/djstock.jpg" width="100%">
        <div class="w3-container w3-text-black" id="djtext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>DJ's</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">A DJ is only as good as his equipment.  Be the top DJ!</div>
          <div class="w3-padding w3-display-bottommiddle" style="width: 100%"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>    
    <div class="w3-third">
      <div class="w3-display-container" id="weddingprofile">
        <img src="../images/weddingstock.jpg" width="100%">
        <div class="w3-container w3-text-black" id="weddingtext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>Weddings</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">Have the perfect sound equipment for your perfect day.</div>
          <div class="w3-padding w3-display-bottommiddle"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-third">
      <div class="w3-display-container" id="bandprofile">
        <img src="../images/bandstock.jpg" width="100%">
        <div class="w3-container w3-text-black" id="bandtext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>Bands On The Run</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">Have the instruments and sound system you need to rock the house!</div>
          <div class="w3-padding w3-display-bottommiddle"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-display-container" id="singerprofile">
        <img src="../images/singerstock.jpg" width="100%">
        <div class="w3-text-black" id="singertext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>Singer / Songwriters</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">Let them here the beauty of your voice, not the screech of your sound system.</div>
          <div class="w3-padding w3-display-bottommiddle"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>    
    <div class="w3-third">
      <div class="w3-display-container" id="pedalprofile">
        <img src="../images/pedalstock.jpg" width="100%">
        <div class="w3-container w3-text-black w3-yellow" id="pedaltext" style="width: 100%; display: none">
          <div class="w3-padding w3-display-topmiddle" style="width: 100%"><b>Pedals & Boards</b></div>
          <div class="w3-padding w3-display-middle" style="width: 100%">Get the pedals and boards you need for the effects you crave.</div>
          <div class="w3-padding w3-display-bottommiddle"><button style="w3-button">Learn More</button></div>
        </div>
      </div>
    </div>
  </div>
<script>
$(document).ready(function(){	
    $("#weddingprofile").hover(function(){
    	$("#weddingtext").show();
    	$("#weddingprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#weddingtext").hide();
        $("#weddingprofile").find("img").css("opacity", "1")
    });
    $("#kidprofile").hover(function(){
    	$("#kidtext").show();
    	$("#kidprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#kidtext").hide();
        $("#kidprofile").find("img").css("opacity", "1")
    });    
    $("#djprofile").hover(function(){
    	$("#djtext").show();
    	$("#djprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#djtext").hide();
        $("#djprofile").find("img").css("opacity", "1")
    });
    $("#bandprofile").hover(function(){
    	$("#bandtext").show();
    	$("#bandprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#bandtext").hide();
        $("#bandprofile").find("img").css("opacity", "1")
    });    
    $("#singerprofile").hover(function(){
    	$("#singertext").show();
    	$("#singerprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#singertext").hide();
        $("#singerprofile").find("img").css("opacity", "1")
    });    
    $("#pedalprofile").hover(function(){
    	$("#pedaltext").show();
    	$("#pedalprofile").find("img").css("opacity", ".3")
        }, function(){
        $("#pedaltext").hide();
        $("#pedalprofile").find("img").css("opacity", "1")
    });    
    
});
</script>