<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>		
		<script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="reservepackage.js"></script>
  </head>

  <body>
		<script>
		$( function() {
			$( "#date" ).datepicker();
		} );
		</script>
    <!-- Navbar -->
    <div id="navbar"></div>
  	
    <!-- Page content -->
		<br><br><br><br><br><br><br><br>
		<h1>Reserve Your Event Package For Pickup At Our Nashville Store</h1>
		<div class="w3-panel w3-black">
			<form class="w3-container" id="frmReserve">

				<label class="w3-text-blue"><b>Name</b></label>
				<input class="w3-input w3-border" type="text" id="name" disabled>

				<label class="w3-text-blue"><b>Email</b></label>
				<input class="w3-input w3-border" type="text" id="email" disabled>				

				<label class="w3-text-blue"><b>Event Type</b></label>
				<input class="w3-input w3-border" type="text" id="eventtype" disabled>				

				<label class="w3-text-blue"><b>Package</b></label>
				<input class="w3-input w3-border" type="text" id="package" disabled>								
				
				<label class="w3-text-blue"><b>Event Location/Venue</b></label>
				<input class="w3-input w3-border" type="text" id="venue">								

				<label class="w3-text-blue"><b>Date</b></label>
				<input class="w3-input w3-border" type="date" id="date" width="10">								
				
				<button class="w3-btn w3-blue">Submit Reservation</button>
			</form> 							
		</div>
    <hr>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
