<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <!-- Header -->
    <br><br><br><br><br><br>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img class="w3-image" src="../images/weddingsound3.png" alt="Architecture" width="1500" height="800">
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Wedding Services</b></span></h1>
      </div>
    </header>

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="weddingsound">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sound Systems</h3>
    <p>Don't leave a crucial part of your wedding planning to chance.  Get quality sound systems for your event so that every word and every note will come through crystal clear.
    </p>
  </div>

   
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Keyboards</div>
        <img src="../images/weddingkeyboard.png" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Microphones</div>
        <img src="../images/weddingmicrophones.png" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Speakers</div>
        <img src="../images/weddingspeaker.png" alt="House" style="width:100%">
      </div>
    </div>
  </div>
    
  <div class="w3-container w3-padding-32" id="weddingsetup">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Setup and Takedown</h3>
    <p>Take the hassle out of your wedding by allowing professionals to come ahead of time and set up and test all of your sound equipment.  Then these same professionals can break everything down for you so that all you have to focus on is each other.</p>
  </div>
    
    <hr>
    <!-- Footer -->
    <div id="footer"></div>
</body>
</html>
