<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
    <style>
      .w3-quarter img{margin-bottom: -6px; cursor: pointer}
      .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <!-- Header -->
    <br><br><br><br><br><br>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img class="w3-image" src="../images/weddingsound3.png" alt="Architecture" width="1500" height="800">
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Wedding Services</b></span></h1>
      </div>
    </header>
  
    <!-- !PAGE CONTENT! -->
    <div id="cards" class="w3-main w3-content" style="max-width:1600px;margin-top:83px">
      <div class="w3-card-4 w3-third w3-padding">
      	<a id="link" href="#">
    	    <img src="../images/shoes.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Shoes
    	    </div>
        </a>
      </div>
      
      <div class="w3-card-4">
      	<a id="link" href="#">
    	    <img src="../images/roses.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Flowers
    	    </div>
        </a>
      </div>
      
      <div class="w3-card-4">
      	<a id="link" href="#">
    	    <img src="../images/chairs.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Tables and chairs
    	    </div>
        </a>
      </div>      
      <div class="w3-card-4 w3-third w3-padding">
      	<a id="link" href="#">
    	    <img src="../images/fatherbridedance.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Sound equipment and staging
    	    </div>
        </a>
      </div>
      
      <div class="w3-card-4">
      	<a id="link" href="#">
    	    <img src="../images/weddingdj.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Entertainment
    	    </div>
        </a>
      </div>
      
      <div class="w3-card-4">
      	<a id="link" href="#">
    	    <img src="../images/weddingdress.png" id="image" style="width:100%">
    	    <div id="text" class="w3-container w3-center">Wedding dresses and tuxedos
    	    </div>
        </a>
      </div>      
    </div>
    
  </body>
</html>
