<!DOCTYPE html>
<html>
  <head>
    <title>A Jam Music Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ajam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../ctrls/users.js"></script>
    <script src="navbar.js"></script>
    <script src="footer.js"></script>
		<script src="../ctrls/components.js"></script>
		<script src="../js/json2div.js"></script>
		<script src="../js/populateList.js"></script>
		<script src="wedding.js"></script>
    <style>
      .w3-quarter img{margin-bottom: -6px; cursor: pointer}
      .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <div id="navbar"></div>
  
    <!-- Page content -->
    <!-- Header -->
    <br><br><br><br><br><br>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img class="w3-image" src="../images/weddingsound3.png" alt="Architecture" width="1500" height="800">
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Wedding Services</b></span></h1>
      </div>
    </header>
  
    <!-- !PAGE CONTENT! -->
    
<div class="w3-row">
  <div class="w3-card-4 w3-third w3-padding">
    <img id="image" src="../images/weddings/weddinggown.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center"><p id="text">Wedding Gowns</p></div>
  </div>
  <div class="w3-card-4 w3-third w3-padding">
    <img src="../images/weddings/shoesandaccessories.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center">
      <p>Shoes and Accessories</p>
    </div>
  </div>
  <div class="w3-card-4 w3-third w3-padding">
    <img src="../images/weddings/venue.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center">
      <p>Wedding Venues</p>
    </div>    
  </div>
  <div class="w3-card-4 w3-third w3-padding">
    <img src="../images/weddings/seating.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center">
      <p>Seating</p>
    </div>
  </div>
  <div class="w3-card-4 w3-third w3-padding">
    <img src="../images/weddings/cakes.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center">
      <p>Cakes and Catering</p>
    </div>
  </div>
  <div class="w3-card-4 w3-third w3-padding">
    <img src="../images/weddings/ensemble.png" alt="" style="width:100%; height:500px">
    <div class="w3-container w3-center">
      <p>Sound and Entertainment</p>
    </div>
	</div>
</div>

  </body>
</html>
